.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    height: 20px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 20px;
}

.square.red {
    color: red
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}